img #conus {
	position: relative; /*make it a positioned ancensor so child elements can be absolutely positioned anchored to this*/
}

a {
}

a:hover {
	border: 2px solid red;
}

#pacnorthwest {
	position: absolute;
	top: 32px;
	left: 8px;
	width: 156px;
	height: 195px;
}

#northrockies {
	position: absolute;
	top: 32px;
	left: 103px;
	width: 165px;
	height: 195px;
}

#uppermissvly {
	position: absolute;
	top: 32px;
	left: 240px;
	width: 140px;
	height: 195px;
}

#centgrlakes {
	position: absolute;
	top: 32px;
	left: 350px;
	width: 148px;
	height: 195px;
}

#northeast {
	position: absolute;
	top: 32px;
	left: 458px;
	width: 146px;
	height: 195px;
}

#pacsouthwest {
	position: absolute;
	top: 136px;
	left: 8px;
	width: 155px;
	height: 174px;
}

#southrockies {
	position: absolute;
	top: 176px;
	left: 75px;
	width: 177px;
	height: 158px;
}

#southplains {
	position: absolute;
	top: 190px;
	left: 194px;
	width: 157px;
	height: 166px;
}

#southmissvly {
	position: absolute;
	top: 190px;
	left: 292px;
	width: 157px;
	height: 156.3px;
}

#southeast {
	position: absolute;
	top: 216px;
	left: 361px;
	width: 155px;
	height: 156.3px;
}
