img #conus {
	position: relative; /*make it a positioned ancensor so child elements can be absolutely positioned anchored to this*/
}

a {
}

a:hover {
	border: 2px solid red;
}

#pacnorthwest {
	position: absolute;
	top: 32px;
	left: 8px;
	width: 156px;
	height: 195px;
}

#northrockies {
	position: absolute;
	top: 32px;
	left: 103px;
	width: 165px;
	height: 195px;
}

#uppermissvly {
	position: absolute;
	top: 32px;
	left: 240px;
	width: 140px;
	height: 195px;
}

#centgrlakes {
	position: absolute;
	top: 32px;
	left: 350px;
	width: 148px;
	height: 195px;
}

#northeast {
	position: absolute;
	top: 32px;
	left: 458px;
	width: 146px;
	height: 195px;
}

#pacsouthwest {
	position: absolute;
	top: 136px;
	left: 8px;
	width: 155px;
	height: 174px;
}

#southrockies {
	position: absolute;
	top: 176px;
	left: 75px;
	width: 177px;
	height: 158px;
}

#southplains {
	position: absolute;
	top: 190px;
	left: 194px;
	width: 157px;
	height: 166px;
}

#southmissvly {
	position: absolute;
	top: 190px;
	left: 292px;
	width: 157px;
	height: 156.3px;
}

#southeast {
	position: absolute;
	top: 216px;
	left: 361px;
	width: 155px;
	height: 156.3px;
}


/*for touch devices, the hover windows won't work*/

@media (pointer: coarse) { 

a:not(.text) {
	border: 2px solid black;
	border-radius: 50%;
	background-color: grey;
	opacity: 0.8;
}

a:not(.text):hover {
	opacity: 0.8;
	background-color: red;
	border: 2px solid black;
}

#pacnorthwest {
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 115px;
	left: 78px;

}

#northrockies { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 115px;
	left: 176px;
}

#uppermissvly { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 115px;
	left: 302px;
}

#centgrlakes { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 115px;
	left: 416px;
}

#northeast { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 115px;
	left: 521px;
}

#pacsouthwest { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 203px;
	left: 71px;
}

#southrockies { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 233px;
	left: 153px;
}

#southplains { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 253px;
	left: 263px;
}

#southmissvly { 
	position: absolute;
	width: 20px;
	height: 20px;	
	top: 250px;
	left: 362px;
}

#southeast { 
	position: absolute;
	width: 20px;
	height: 20px;
	top: 291px;
	left: 432px;	
}


/*testing animations and formatting*/

/*
a:hover {
	border: none;
}

a:not(.text) {
	box-shadow: inset 10% -90% 0 5px red;
	outline-offset: -100px;
	transition: outline-offset 0.5s ease-in-out;
}

a:hover {
	outline: 4px solid blue;
	outline-offset: 0px;
}
*/
