img #mainImg {
	position: relative;
}

#topText {
	white-space: nowrap;
}

/*make each station button a circle*/
.stationanchor {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: grey;
	border:	2px solid yellow;
	position: absolute;
	opacity: 0.8;
}

.stationanchor:hover {
	opacity: 1;
	background-color: yellow;
	border: 2px solid grey;
}

/*for positioning each station paste this in the console to get mouse coordinates:

document.onmousemove = function(e) {
    console.log(`Mouse X (Page): ${e.pageX}, Mouse Y (Page): ${e.pageY}`);
    console.log(`Mouse X (Client): ${e.clientX}, Mouse Y (Client): ${e.clientY}`);
};
*/

#kmqtanchor {
	top: 158px;
	left: 175px;
}

#kgrbanchor {
	top: 247px;
	left: 152px;
}	

#kmkxanchor {
	top: 312px;
	left: 134px;
}

#karxanchor {
	top: 277px;
	left: 30px;
}

#kdvnanchor {
	top: 365px;
	left: 53px;
}

#klotanchor {
	top: 369px;
	left: 152px;
}

#kilxanchor {
	top: 428px;
	left: 103px;
}

#klsxanchor {
	top: 483px;
	left: 49px;
}

#kvwxanchor {
	top: 499px;
	left: 167px;
}

#kpahanchor {
	top: 546px;
	left: 126px;
}

#kilnanchor {
	top: 455px;
	left: 324px;
}

#khpxanchor {
	top: 555px;
	left: 186px;
}

#kohxanchor {
	top: 575px;
	left: 215px;
}

#kmrxanchor {
	top: 578px;
	left: 341px;
}

#klvxanchor {
	top: 511px;
	left: 238px;
}

#kjklanchor {
	top: 525px;
	left: 344px;
}

#kindanchor {
	top: 444px;
	left: 225px;
}

#kiwxanchor {
	top: 376px;
	left: 249px;
}

#kcleanchor {
	top: 376px;
	left: 402px;
}

#kgrranchor {
	top: 315px;
	left: 253px;
}

#kdtxanchor {
	top: 324px;
	left: 338px;
}

#kapxanchor {
	top: 231px;
	left: 286px;
}

#kpbzanchor {
	top: 410px;
	left: 468px;
}

#kbufanchor {
	top: 313px;
	left: 528px;
}

#kccxanchor {
	top: 395px;
	left: 558px;
}

#krlxanchor {
	top: 498px;
	left: 408px;
}

#kfcxanchor {
	top: 547px;
	left: 466px;
}

#klwxanchor {
	top: 471px;
	left: 577px;
}
