img #mainImg {
	position: relative;
}

#topText {
	white-space: nowrap;
}

/*make each station button a circle*/
.stationanchor {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: grey;
	border:	2px solid yellow;
	position: absolute;
	opacity: 0.8;
}

.stationanchor:hover {
	opacity: 1;
	background-color: yellow;
	border: 2px solid grey;
}

/*for positioning each station paste this in the console to get mouse coordinates:

document.onmousemove = function(e) {
    console.log(`Mouse X (Page): ${e.pageX}, Mouse Y (Page): ${e.pageY}`);
    console.log(`Mouse X (Client): ${e.clientX}, Mouse Y (Client): ${e.clientY}`);
};
*/

#kyuxanchor {
	top: 460px;
	left: 474px;
}

#knkxanchor {
	top: 446px;
	left: 396px;
}

#ksoxanchor {
	top: 415px;
	left: 377px;
}

#kvtxanchor {
	top: 392px;
	left: 321px;
}

#kvbxanchor {
	top: 375px;
	left: 283px;
}

#keyxanchor {
	top: 366px;
	left: 378px;
}

#khnxanchor {
	top: 317px;
	left: 310px;
}

#kmuxanchor {
	top: 287px;
	left: 231px;
}

#kdaxanchor {
	top: 233px;
	left: 242px;
}

#kbbxanchor {
	top: 195px;
	left: 241px;
}

#kbhxanchor {
	top: 152px;
	left: 154px;
}

#kmaxanchor {
	top: 89px;
	left: 207px;
}
