img #mainImg {
	position: relative;
}

#topText {
	white-space: nowrap;
}

/*make each station button a circle*/
.stationanchor {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: grey;
	border:	2px solid yellow;
	position: absolute;
	opacity: 0.8;
}

.stationanchor:hover {
	opacity: 1;
	background-color: yellow;
	border: 2px solid grey;
}

/*for positioning each station paste this in the console to get mouse coordinates:

document.onmousemove = function(e) {
    console.log(`Mouse X (Page): ${e.pageX}, Mouse Y (Page): ${e.pageY}`);
    console.log(`Mouse X (Client): ${e.clientX}, Mouse Y (Client): ${e.clientY}`);
};
*/

#kcbxanchor {
	top: 315px;
	left: 22px;
}

#klrxanchor {
	top: 417px;
	left: 2px;
}

#kmsxanchor {
	top: 176px;
	left: 103px;
}

#ksfxanchor {
	top: 330px;
	left: 148px;
}

#kmtxanchor {
	top: 401px;
	left: 158px;
}

#kicxanchor {
	top: 533px;
	left: 143px;
}

#ktfxanchor {
	top: 159px;
	left: 195px;
}

#kblxanchor {
	top: 223px;
	left: 295px;
}

#kggwanchor {
	top: 130px;
	left: 362px;
}

#kriwanchor {
	top: 335px;
	left: 298px;
}

#kcysanchor {
	top: 402px;
	left: 428px;
}

#kftganchor {
	top: 454px;
	left: 437px;
}

#kpuxanchor {
	top: 503px;
	left: 449px;
}

#kgjxanchor {
	top: 481px;
	left: 307px;
}

#kgldanchor {
	top: 468px;
	left: 537px;
}

#klnxanchor {
	top: 375px;
	left: 574px;
}

#kudxanchor {
	top: 291px;
	left: 495px;
}

#kmbxanchor {
	top: 120px;
	left: 564px;
}

#kbisanchor {
	top: 188px;
	left: 569px;
}
