img #mainImg {
	position: relative;
}

#topText {
	white-space: nowrap;
}

/*make each station button a circle*/
.stationanchor {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: grey;
        border: 2px solid yellow;
        position: absolute;
        opacity: 0.8;
}

.stationanchor:hover {
        opacity: 1;
        background-color: yellow;
        border: 2px solid grey;
}


/*for positioning each station paste this in the console to get mouse coordinates:

document.onmousemove = function(e) {
    console.log(`Mouse X (Page): ${e.pageX}, Mouse Y (Page): ${e.pageY}`);
    console.log(`Mouse X (Client): ${e.clientX}, Mouse Y (Client): ${e.clientY}`);
};
*/

#katxanchor {
	top: 125px;
	left: 214px;
}

#klgxanchor {
	top: 170px;
	left: 162px;
}

#krtxanchor {
	top: 230px;
	left: 198px;
}

#kmaxanchor {
	top: 372px;
	left: 204px;
}

#kbhxanchor {
	top: 430px;
	left: 153px;
}

#kbbxanchor {
	top: 465px;
	left: 241px;
}

#kdaxanchor {
	top: 502px;
	left: 241px; /*241*/
}

#kmuxanchor {
	top: 548px;
	left: 235px; 
}
/*559, 247*/
/*offset -11 -12*/

#khnxanchor {
	top: 577px;
	left: 310px;
}

#kpdtanchor {
	top: 229px;
	left: 336px;
}

#krgxanchor {
	top: 455px;
	left: 316px;
}

#kotxanchor {
	top: 148px;
	left: 376px;
}

#kcbxanchor {
	top: 315px;
	left: 422px;
}

#klrxanchor {
	top: 417px;
	left: 403px;
}

#kmsxanchor {
	top: 173px;
	left: 497px;
}

#ksfxanchor {
	top: 328px;
	left: 540px;
}

#kmtxanchor {
	top: 400px;
	left: 549px;	
}

#kicxanchor {
	top: 532px;
	left: 536px;
}

#ktfxanchor {
	top: 160px;
	left: 584px;
}
